################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Basics_Of_C#/c#_Basics/.vs/c#_Basics
/Basics_Of_C#/c#_Basics/c#_Basics/obj
/.vs
/Basics_Of_C#/c#_Basics/c#_Basics/bin/Debug/net8.0
/Basics_Of_C#/c#_Basics/.vs/ProjectEvaluation
/QuizApp/.vs/QuizApp
/QuizApp/QuizApp/bin/Debug/net8.0
/QuizApp/QuizApp/obj
/Array_Class/.vs/Array_Class
/Array_Class/Array_Class/obj
/Array_Class/Array_Class/bin/Debug/net8.0
/Methods/Methods/.vs/Methods
/Methods/Methods/Methods/obj
/Methods/Methods/Methods/bin/Debug/net8.0
/Array_Class/.vs/ProjectEvaluation
/Methods/Methods/.vs/ProjectEvaluation
/WeatherSimulator/WeatherSimulator/.vs/WeatherSimulator
/WeatherSimulator/WeatherSimulator/WeatherSimulator/obj
/WeatherSimulator/WeatherSimulator/.vs/ProjectEvaluation
/WeatherSimulator/WeatherSimulator/WeatherSimulator/bin/Debug/net8.0
/ClassApp/.vs/ClassApp
/ClassApp/obj
/ClassApp/bin/Debug/net8.0
/ClassApp/.vs/ProjectEvaluation
/QuizzAPP/.vs/QuizzAPp
/QuizzAPP/obj
/QuizzAPP/bin/Debug/net8.0
/.Net Core API/NZWalks/NZWalks/.vs
/.Net Core API/NZWalks/NZWalks/NZWalks.API/bin/Debug/net8.0
/.Net Core API/NZWalks/NZWalks/NZWalks.API/obj
